<h1><%= @movie.title %></h1>
<ul>
  <li>released in <%= @movie.year %></li>
  <li>Plot: <%= @movie.plot %></li>
<li>
  Genre:
  <%= @movie.genre_name.join(", ") %>
</li>
</ul>
<%= simple_form_for [@movie, @like] do |f| %>
  <%= f.collection_radio_buttons :stars, [[1], [2], [3]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
    <%= b.radio_button + b.label {''} %>
  <% end %>
  <%= f.button :submit, "vote" %>
<% end %>
<% if @recommending_users.any? %>
  <p>
    highly recommended by:
    <% @recommending_users.each do |user| %>
      <%= link_to user.email, user_path(user) %>
    <% end %>
  </p>
<% end %>


<!--     <% emails = [] %>
    <% @recommending_users.each do |user| %>
      <% emails << user.email %>
    <% end %>
    <%= emails.join(", ") %> -->
